%section.g-section
  .g-wrapper
    %h2.g-title.g-title_big
      Кошерные магазины
    %ul.g-cities
      -@cities.each do |city|
        %li.g-cities__item
          =link_to shop_cities_path(city), class: "g-cities__link", style: "background-image: url(#{asset_path(city.front_image)})" do
            %span.g-cities__title=city.name
      