%section.g-section
  .g-wrapper
    %h2.g-title.g-title_big
      =t('static_pages.about.title')
    .g-text-block
      .g-department
        =image_tag 'static/department.png', class: 'g-department__img'
        .g-department__text
          %p.g-department__par
            =t('static_pages.about.quote_text_html')
      .g-text-block__content.g-text-block__content_department
        %h3.g-text-block__title
          =t('static_pages.about.description.title')
        %ul.g-functions
          %li.g-functions__item
            =image_tag 'icons/microscope.svg', class: 'g-functions__img g-functions__img_big'
            %span.g-functions__text
              =t('static_pages.about.description.function_1')
          %li.g-functions__item
            =image_tag 'icons/certificate.svg', class: 'g-functions__img g-functions__img_middle'
            %span.g-functions__text
              =t('static_pages.about.description.function_2')
          %li.g-functions__item
            =image_tag 'icons/dialog.svg', class: 'g-functions__img'
            %span.g-functions__text
              =t('static_pages.about.description.function_3_html')
        %h3.g-text-block__title
          %span.g-mobile-hide
            =t('static_pages.about.principles.title_html')
          %span.g-mobile Продукция:
        %ul.g-text-block__ul.g-text-block__ul_wide
          - I18n.t(".")[:static_pages][:about][:principles_list].each do |_key, principle|
            %li.g-text-block__li
              =principle