/ Скрытые поля для карты - долгота и ширина
%input{:name => "long", :type => "hidden", :value => @long, id: "long_id"}/
%input{:name => "lat", :type => "hidden", :value => @lat, id: "lat_id"}/
%input{:name => "lat", :type => "hidden", :value => @title, id: "name_id"}/

%section.g-section
  .g-wrapper
    %h2.g-title.g-title_big
      Контакты
    .g-contact
      .g-contact__sidebar-left.g-dep-info
        %h3.g-dep-info__title Департамент кашрута
        .g-dep-info__text-block
          %h4.g-dep-info__text-title Адрес
          %p.g-dep-info__text-par=@settings.address
          %a.g-link{:href => "javascript:void(0)"} Департамент кашрута на карте
        .g-dep-info__text-block.g-dep-info__text-block_phones
          -@settings.phones.each do |phone|
            %p.g-dep-info__text-par=phone.value
        .g-dep-info__text-block.g-dep-info__text-block_schedule
          %h4.g-dep-info__text-title График работы
          -@settings.opening_hours.each do |op_hour|
            %p.g-dep-info__text-par="#{op_hour.title} #{op_hour.value}"
        .g-dep-info__text-block
          %h4.g-dep-info__text-title E-mail
          %a.g-link{:href => "mailto:#{@settings.email}"}=@settings.email
      =form_for ContactRequest.new, format: 'js', html: {class: 'g-contact__sidebar-right g-form'}, remote: true do |f|
        =f.hidden_field :type, value: "ContactRequest"
        .g-input
          %label.g-input__label.g-input__label_required Ваше имя
          =f.text_field :name, class: 'g-input__field js-input'
          %span.g-input__error
            Поле заполнено некорректно
        .g-input
          %label.g-input__label.g-input__label_required Название организации
          =f.text_field :company_name, class: 'g-input__field js-input'
          %span.g-input__error
            Поле заполнено некорректно
        .g-input
          %label.g-input__label.g-input__label_required Контактный телефон
          =f.text_field :phone, class: 'g-input__field js-input js-input-phone'
          %span.g-input__error
            Поле заполнено некорректно
        .g-input.g-input_select
          %label.g-input__label Тема письма
          .g-input__field.g-input__field_select-wrapper
            %select.g-input__field.g-input__field_select.js-input{:name => "contact_request[subject]"}
              %option Общие вопросы
              %option Сотрудничество
              %option Коммерческое предложение
              %option Замечания/пожелания
        .g-input
          %label.g-input__label.g-input__label_required Ваш E-mail
          =f.text_field :email, class: 'g-input__field js-input'
          %span.g-input__error
            Поле заполнено некорректно 
        .g-input
          %label.g-input__label Сообщение
          =f.text_area :message, class: 'g-input__field g-input__field_textarea js-input', data: {"input-type" => "message"}

        =f.submit "Отправить", class: 'g-btn g-btn_blue g-form__submit'
        #request-errors
      #g-map.g-map
