%section.g-section
  .g-wrapper
    %h2.g-title.g-title_big
      Производителям
    .g-text-block
      =image_tag 'icons/manufactures.svg', class: 'g-text-block__icon g-text-block__icon_manufactures'
      .g-text-block__content.g-text-block__content_manufactures
        %h3.g-text-block__title Этапы получения сертификата кошерности за подписью Главного Раввина России Берла Лазара:
        %ul.g-text-block__milestones.g-milestones
          %li.g-milestones__item
            %span.g-milestones__number 1
            Подача заявки Заказчиком на проведение сертификации (Заказчик предоставляет Исполнителю подробную, официально заверенную, информацию об ингредиентном составе и технологическом процессе производства продукции подлежащей сертификации);
          %li.g-milestones__item
            %span.g-milestones__number 2
            Проверка полученной информации, визит на предприятие эксперта технологического отдела Исполнителя. По результатам визита Заказчику выдаётся отчёт, в котором прописаны рекомендации по сертификации;
          %li.g-milestones__item
            %span.g-milestones__number 3
            Выдача сертификата
        =image_tag 'icons/safe.svg', class: 'g-text-block__icon g-text-block__icon_small'
        %ul.g-text-block__list.g-text-list.g-text-list_check
          %li.g-text-list__item
            Исполнителем обеспечивается конфиденциальность всей информации, полученной в ходе сертификации;
          %li.g-text-list__item
            Информация составляет служебную или коммерческую тайну, если она имеет действительную или потенциальную ценность в силу неизвестности ее третьим лицам, к ней нет свободного доступа на законном основании, и обладатель информации принимает меры к ее охране. Сведения, которые не являются служебной или коммерческой тайной, определяют законы и правовые акты;
          %li.g-text-list__item
            Информацию, составляющую служебную или коммерческую тайну, защищают способами, предусмотренными Гражданским Кодексом Российской Федерации и другими законами.

      .g-text-block__content.g-text-block__content_manufactures
        %h3.g-text-block__list-title
          Внимание! Подача неверной информации существенно затруднит процесс сертификации!
      .g-text-block__content
        %p.g-text-block__par
          С некоторыми производителями, прошедшими процедуру сертификации вы можете ознакомиться ниже или просмотрев полный список наших партнеров.