%section.g-section
  .g-wrapper
    %h2.g-title.g-title_big
      Потребителям
    .g-text-block
      =image_tag 'icons/members.svg', class: "g-text-block__icon"
      .g-text-block__content
        %p.g-text-block__par Система кошерного питания – это древнейшие, бережно сохраняемые сокровища мудрости еврейского народа. Одна из главных целей кашрута: продуманное, рациональное, здоровое питание. Ученые изучали, интерпретировали и применяли Законы кашрута на протяжении трёх тысяч лет.
        %p.g-text-block__par Слово «кашрут» на иврите означает «пригодный». Тщательно отслеживаются и устраняются все факторы, которые могут повредить здоровью человека.
        %p.g-text-block__par Люди различных национальностей и вероисповеданий доверяют качеству кошерных продуктов. Все мировые бренды в своем ассортименте имеют кошерные продукты питания, которые у большинства потребителей в США и Западной Европы, а теперь и России позиционируются как товары более высокого качества.
        %p.g-text-block__par Идеологическую основу кашрута понять несложно. Ее прекрасно передает поговорка "мы — это то, что мы едим". От еды напрямую зависит наше здоровье и долголетие. А также состояние духа и ясность мысли, характер и поступки.
        %p.g-text-block__par Всем известно, насколько тяжело придерживаться любой диеты, поэтому соблюдение законов кашрута невозможно без самоконтроля и самодисциплины. Став хозяином своих желаний в сфере питания, человек развивает волю и энергетику, благодаря чему в конечном итоге может добиться в жизни большего — и в духовной, и в материальной сфере. А также яснее понимать основы мироздания, все лучше ориентируясь в сложной системе причин и следствий, составляющих нашу жизнь.
        %p.g-text-block__par С некоторыми производителями, прошедшими процедуру сертификации вы можете ознакомиться ниже или просмотрев полный список наших партнеров.
