%section.g-section
  .g-wrapper
    %h2.g-title.g-title_big
      Торговым сетям
    .g-text-block
      =image_tag 'icons/trade-networks.svg', class: "g-text-block__icon g-text-block__icon_tn"
      .g-text-block__content
        %p.g-text-block__par
          Во всем мире создан огромный потенциал доверия кашруту. Люди различных национальностей и вероисповеданий доверяют качеству кошерных продуктов. Это лица, не переносящие лактозу, вегетарианцы, люди, не употребляющие в пищу клейковину и пшеницу, и другие, кто убежден, что знак кошерности обеспечивает качество продукта.
        .g-text-block__list
          %h3.g-text-block__list-title
            Получение Сертификата кошерности международного образца за подписью главного раввина России Берла Лазара означает:
          %ul.g-text-block__ul
            %li.g-text-block__li Экономию затрат на рекламу и продвижение продукта;
            %li.g-text-block__li Повышение конкурентной способности на внутреннем рынке продуктов питания;
            %li.g-text-block__li Преимущество в заключение контрактов с зарубежными партнерами;
            %li.g-text-block__li
              Вступление вашей компании во всемирную группу производителей под идеологией высокого качества подтверждение показателей качества продукции, заявленной изготовителем.
        %p.g-text-block__par
          Все мировые бренды в своем ассортименте имеют кошерные продукты питания, которые у большинства людей в мире ассоциируются с продуктом более высокого качества.
        %p.g-text-block__par
          Кашрут заслужил свою репутацию благодаря четкому, бескомпромиссному механизму контроля качества.
        %p.g-text-block__par
          С некоторыми производителями, прошедшими процедуру сертификации вы можете ознакомиться ниже или просмотрев полный список наших партнеров.
