%section.g-section.g-slider
  / #main-slider
  .g-slider__item{:style => "background-image: url(#{image_url('static/slider/slide_1.jpg')})"}
    .g-slider__item-wrapper
      .g-wrapper.g-slider__content
        %h2.g-slider__title
          Кошер
          %br.g-mobile Сертификация-КР
        %p.g-slider__text Система добровольной сертификации продуктов питания
        %a.g-btn.g-btn_yelow.g-slider__btn{href: about_path} Что это такое?
    / .g-slider__item{:style => "background-image: url(#{image_url('static/slider/slide_1.jpg')})"}
    /   .g-slider__item-wrapper
    /     .g-wrapper.g-slider__content
    /       %h2.g-slider__title
    /         Кошер
    /         %br.g-mobile Сертификация-КР
    /       %p.g-slider__text Система добровольной сертификации продуктов питания
    /       %a.g-btn.g-btn_yelow.g-slider__btn{href: about_path} Что это такое?
    / .g-slider__item{:style => "background-image: url(#{image_url('static/slider/slide_1.jpg')})"}
    /   .g-slider__item-wrapper
    /     .g-wrapper.g-slider__content
    /       %h2.g-slider__title
    /         Кошер
    /         %br.g-mobile Сертификация-КР
    /       %p.g-slider__text Система добровольной сертификации продуктов питания
    /       %a.g-btn.g-btn_yelow.g-slider__btn{href: about_path} Что это такое?

%section.g-section.g-section_news.g-section_news_mobile
  .g-wrapper
    =link_to "все новости", posts_path, class: "g-btn g-btn_gray g-news-top-btn"
    %h2.g-title
      Новости
    .g-blog
      -@posts.each do |post|
        .g-blog__item
          =link_to post_path(post), class: 'no-styling' do
            / -if post.logo.url.present?
            =image_tag_or_default post, 'logo', version: 'news_thumb', size: '94x94', class: 'g-blog__img'
            / -else
            / =placeholdit_image_tag "94x94", text: "Kosher.ru", class: 'g-blog__img'
            %h3.g-blog__title=post.title
            .g-blog__more=markdown(post.body, 200)
            %p.g-blog__date=published_date(post)
    .g-blog-read
      / %a.g-btn.g-btn_gray.g-mobile{:href => "#"} загрузить еще
      =link_to "все новости", posts_path, class: "g-btn g-btn_gray"