%section.g-section.g-section_breadcrumbs
  .g-wrapper.g-breadcrumbs
    %a.g-breadcrumbs__item{:href => "/"} &#x413;&#x43B;&#x430;&#x432;&#x43D;&#x430;&#x44F;
    %span.g-breadcrumbs__item.g-breadcrumbs__item_current &#x41A;&#x43E;&#x448;&#x435;&#x440;&#x43D;&#x44B;&#x435; &#x43F;&#x440;&#x43E;&#x434;&#x443;&#x43A;&#x442;&#x44B;