%section.g-section.g-section_breadcrumbs
  .g-wrapper.g-breadcrumbs
    =link_to 'Главная', root_path, class: 'g-breadcrumbs__item'
    %span.g-breadcrumbs__item.g-breadcrumbs__item_current=get_breadcrumbs