%section.g-section.g-section_breadcrumbs
  .g-wrapper.g-breadcrumbs
    =link_to 'Главная', root_path, class: 'g-breadcrumbs__item'
    -@breadcrumbs.each do |crumb|
      =link_to crumb[:url] do
        %span.g-breadcrumbs__item{class: "#{@breadcrumbs.last == crumb ? 'g-breadcrumbs__item_current' : ''}"}=crumb[:title]