
%section.g-section.g-section_breadcrumbs
  .g-wrapper.g-breadcrumbs
    =link_to 'Главная', root_path, class: 'g-breadcrumbs__item'
    -@breadcrumbs.each do |crumb|
      -if crumb == @breadcrumbs.last
        %span.g-breadcrumbs__item{class: "g-breadcrumbs__item_current text-cursor"}=crumb[:title]
      -else
        =link_to crumb[:url], class: "no-text-decoration" do
          %span.g-breadcrumbs__item=crumb[:title]