%footer.g-footer
  .g-wrapper
    .g-footer__left
      %nav.g-menu.g-menu_light
        =link_to 'О департаменте', about_path, class: 'g-menu__item'
        =link_to "Новости", posts_path, class: "g-menu__item"
        =link_to "Фотогалерея", gallery_path, class: 'g-menu__item'
        =link_to "FAQ", faq_path, class: 'g-menu__item'
        =link_to "Контакты", contact_path, class: 'g-menu__item'
      
      .g-social
        %form.g-social__left.g-form.g-subscribe{:action => "subscribe"}
          %h4.g-subscribe__title Получайте новости от нас
          .g-input.g-input_subscribe
            %input.g-input__field.g-input__field_subscribe.g-subscribe__input.js-input{:name => "email", :placeholder => "Ваш e-mail", :type => "text"}/
            %span.g-input__error
              Поле некорректно заполнено
          %button.g-subscribe__submit{:type => "submit"}
        %a.g-social__right.g-social-link{:href => @settings.facebook}
          %span.g-social-link__text Мы в Facebook
          %i.g-social-link__icon.g-social-link__icon_fb
        %a.g-social__right.g-social-link.g-social-link_construction{:href => "#"}
          %span.g-social-link__text Создание сайта
          %i.g-social-link__icon.g-social-link__icon_ya
        %a.g-construction{:href => "http://yadadya.com"}
          %p.g-construction__title Создание сайта —
          %i.g-icon-logo
      .g-copy
        ©   «Кошер-Россия»
    .g-footer__center.g-contacts
      -@settings.phones.each do |phone|
        %a.g-contacts__phone{:href => phone.value}=phone.value
      
      %p.g-contacts__adress
        =@settings.address
        
      %a.g-contacts__email{:href => "mailto:#{@settings.email}"}=@settings.email
      .g-app-block
        %a.g-app-block__link{:href => "#"}
          =image_tag 'icons/app-store.svg', class: 'g-app-block__img'
        %a.g-app-block__link{:href => "#"}
          =image_tag 'icons/g-play.svg', class: 'g-app-block__img'
    .g-footer__right
      %a.g-construction{:href => "http://yadadya.com"}
        %p.g-construction__title Создание сайта —
        %i.g-icon-logo
        
