#search-popup.g-popup
  =form_for(:main_search, url: search_path, method: :get, html: {class: 'g-popup__content g-popup__content_search'}) do |f|
    =f.text_field :query, class: 'g-popup__search-input'
    =button_tag '', type: 'submit', class: 'g-popup__search-submit'

#subscribe-popup.g-popup
  .g-popup__content.g-popup__content_small
    %a.g-popup__close.js-close-popup
    .g-popup__wrapper
      %p.g-popup__text
        Спасибо.
        %br>/
        Вам отправлен запрос на
        %br>/
        подтверждение электронной почты.
      %button.g-btn.g-btn_blue.g-btn_ok.js-close-popup OK
#subscribe-confirm.g-popup
  .g-popup__content.g-popup__content_small
    %a.g-popup__close.js-close-popup
    .g-popup__wrapper
      %p.g-popup__text
        Спасибо.
        %br>/
        Вы подтвердили адрес
        %br>/
        электронной почты.
      %button.g-btn.g-btn_blue.g-btn_ok.js-close-popup OK
#call-success-popup.g-popup
  .g-popup__content.g-popup__content_small
    %a.g-popup__close.js-close-popup
    .g-popup__wrapper
      %p.g-popup__text
        Спасибо
        %br>/
        Мы с вами свяжемся!
      %button.g-btn.g-btn_blue.g-btn_ok.js-close-popup OK
#call-popup.g-popup
  .g-popup__content
    %a.g-popup__close.js-close-popup
    .g-popup__wrapper
      %h2.g-popup__title Обратный звонок
      =image_tag 'icons/phone.svg', class: 'g-popup__img g-popup__img_transform'
      =form_for CallMeBackRequest.new, format: 'js', class: 'g-form', remote: true do |f|
        =f.hidden_field :type, value: "CallMeBackRequest"
        =f.hidden_field :subject, value: "Звонок"
        .g-input
          %label.g-input__label.g-input__label_required Ваше имя
          =f.text_field :name, class: "g-input__field js-input", placeholder: "Введите имя"
          %span.g-input__error
            Поле некорректно заполнено
        .g-input
          %label.g-input__label.g-input__label_required Ваш телефон
          =f.text_field :phone, class: "g-input__field js-input js-input-phone", placeholder: "Введите телефон"
          %span.g-input__error
            Поле некорректно заполнено
        .g-input
          %label.g-input__label.g-input__label_required Ваша организация
          =f.text_field :company_name, class: "g-input__field js-input", placeholder: "Введите название компании"
          %span.g-input__error
            Поле некорректно заполнено
        .g-input
          %label.g-input__label.g-input__label_required Комментарий
          =f.text_area :message, class: "g-input__field g-input__field_textarea js-input", data: {"input-type" => "message"}
          %span.g-input__error
            Поле некорректно заполнено
        =f.submit "Отправить", class: "g-btn g-btn_blue g-form__submit"