%section.g-section
  .g-wrapper
    %h2.g-title.g-title_big
      Кошерные продукты
    %ul.g-product-types
      -@categories.each do |category|
        %li.g-product-types__item
          =link_to suppliers_path(category: category.id), class: "g-product-types__link" do
            -if category.logo.present?
              =image_tag_or_default category, 'logo', class: 'g-product-types__img g-product-types__img_big'
            %span.g-product-types__title=category.title
