%section.g-section
  .g-wrapper
    %h2.g-title.g-title_big
      Знаки кошерности
    %ul.g-signs
      -@labels.each do |label|
        %li.g-signs__item
          .g-signs__img-wrapper
            %img.g-signs__img{:src => asset_path(label.logo)}
          %p.g-signs__text
            =label.title