%li.g-news__item
  .g-news__img-wrapper
    =image_tag post.logo, class: "g-news__img"
    / =logo_tag_or_default(post, thumb: "news_thumb", class: "g-news__img")
  .g-news__text-block
    %h2.g-news__title=post.title
    .g-news__meta=markdown(post.body)
    %p.g-news__date=published_date(post)
    =link_to "Подробнее", post_path(post), class: "g-btn g-btn_gray"