-meta og: {title: @post.seo_title, image: @post.seo_image(request), description: @post.seo_description, keywords: @post.seo_keywords}
-meta keywords: @post.seo_keywords
-meta description: @post.seo_description
%section.g-section
  .g-wrapper
    %h2.g-title.g-title_big
      =@post.title
    .g-tm
      .g-tm__left
        .g-tm__logo.js-sticky
          =image_tag @post.logo, class: "g-tm__logo-img"
      .g-tm__right
        .g-tm__desc
          =markdown(@post.body)
          -if @post.manufacturer_id.present?
            ="Подробная информация представлена на странице компании #{link_to @manufacturer.title, supplier_path(@manufacturer.slug)}.".html_safe
