-if @recipes.present?
  %section.g-section
    .g-wrapper
      %h2.g-title.g-title_big
        Рецепты
      .g-recipes
        -@recipes.each do |recipe|
          .g-recipes__item
            .g-recipes__content
              %a.g-recipes__img-wrapper{:href => "#{recipe_category_recipe_path(params[:recipe_category_id],recipe)}"}
                -if recipe.logo.present?
                  =image_tag recipe.logo, class: 'g-recipes__img'
                -else 
                  =placeholdit_image_tag "235x132", text: "Kosher.ru", class: 'g-recipe__img'
              .g-recipes__text
                %a.g-recipes__name{:href => "#{recipe_category_recipe_path(params[:recipe_category_id],recipe)}"}
                  %h3.g-recipes__name=recipe.title
                .g-recipes__meta=markdown(recipe.description)
            %a.g-btn.g-btn_gray{:href => "#{recipe_category_recipe_path(params[:recipe_category_id], recipe)}"} Подробнее
       
      =render partial: 'front/navigation/pager', locals: {path: "recipe_category_recipes_path", page: @page}
-else
  %section.g-section.g-empty
    .g-wrapper
      %h2.g-title.g-title_big
        Рецепты
      =image_tag 'icons/recipe.svg', class: "g-empty__icon"
      %h2.g-empty__text Рецепты отсутствуют

