%section.g-section.g-empty
  .g-wrapper
    %h2.g-title.g-title_big
      500
    =image_tag 'icons/shop.svg', class: "g-empty__icon"
    %h2.g-empty__text
      ="К сожалению, сервер не справился с задачей. Наши инженеры уже получили уведомление об ошибке. Вы можете пройти на #{link_to 'главную', root_path} или попробовать зайти на сайт позже.".html_safe