- if Rails.env.production?
  User-Agent: *
  Allow: /
  Disallow: /admin
  Disallow: /users/sign_up
  Disallow: /users/sign_in
  Disallow: /*?page=
  Disallow: /*?page
  Host: https://www.kosher.ru
  Sitemap: https://www.kosher.ru/sitemap.xml.gz
- else
  User-Agent: *
  Disallow: /