%section.g-section.g-section_partners
  .g-wrapper.g-slider.g-slider_partners
    #partners-slider.g-partners
      -Partner.all.each do |partner|
        .g-partners__item
          =image_tag partner.logo, class: 'g-partners__img'  
          =image_tag partner.logo_grey, class: 'g-partners__img g-partners__img_gray'