%section.g-section.g-section_partners
  .g-wrapper.g-slider.g-slider_partners
    #partners-slider.g-partners
      .g-partners__item
        =image_tag 'static/partners/eop.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/aqua_nova.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/morosha.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/mars.jpg', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/everest.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/pervak.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/eop.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/aqua_nova.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/morosha.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/mars.jpg', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/everest.png', class: 'g-partners__img'
      .g-partners__item
        =image_tag 'static/partners/pervak.png', class: 'g-partners__img'