%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span.clear
              %span.block.m-t-xs
                %strong.font-bold
                  -if current_user
                    ="#{current_user.first_name} #{current_user.second_name}"
              %span.text-muted.text-xs.block
                Art Director
                %b.caret
          %ul.dropdown-menu.animated.fadeInRight.m-t-xs
            -if current_user
              %li
                =link_to edit_admin_user_path(current_user.id) do
                  =t('admin.profile')
              %li
                =link_to destroy_user_session_path do
                  =t('admin.logout')
        .logo-element
          IN+
      =nav_link admin_path do
        %i.fa.fa-area-chart
        %span.nav-label
          =t('admin.navigation.dashboard')
      =nav_link "" do
        %i.fa.fa-newspaper-o
        %span.nav-label
          =t('admin.navigation.posts.main')
        %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          =nav_link admin_posts_path do
            =t('admin.navigation.posts.all_posts')
          =nav_link new_admin_post_path do
            =t('admin.navigation.posts.new_post')
          =nav_link admin_post_categories_path do
            =t('admin.navigation.posts.post_categories')
      =nav_link "" do
        %i.fa.fa-file-text
        %span.nav-label
          =t('admin.navigation.pages.main')
        %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          =nav_link admin_pages_path do
            =t('admin.navigation.pages.all_pages')
          =nav_link new_admin_page_path do
            =t('admin.navigation.pages.new_page')
          =nav_link admin_page_categories_path do
            =t('admin.navigation.pages.page_categories')

      =nav_link "" do
        %i.fa.fa-flask
        %span.nav-label
          =t('admin.navigation.services.main')
        %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          =nav_link admin_faqs_path do
            =t('admin.navigation.services.faq')
          =nav_link admin_pictures_path do
            =t('admin.navigation.services.photos')
          =nav_link admin_newsletters_path do
            =t('admin.navigation.services.newsletters')

      =nav_link "" do
        %i.fa.fa-users
        %span.nav-label
          =t('admin.navigation.users.main')
        %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          =nav_link admin_users_path do
            =t('admin.navigation.users.all_users')
          =nav_link new_admin_user_path do
            =t('admin.navigation.users.new_user')
          =nav_link admin_requests_path do
            =t('admin.navigation.users.requests')
          =nav_link admin_subscribers_path do
            =t('admin.navigation.users.subscribers')

      =nav_link admin_settings_path do
        %i.fa.fa-cog
        %span.nav-label
          =t('admin.navigation.settings.main')
        %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          %li
            =nav_link admin_settings_general_settings_path do
              =t('admin.navigation.settings.general')
          =nav_link admin_settings_cities_path do
            =t('admin.navigation.settings.cities')
      =nav_link "", :class => "special_link" do
        Kosher
      =nav_link admin_shops_path do
        %i.fa.fa-shopping-bag
        %span.nav-label
          =t('admin.navigation.shops.main')
        %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          =nav_link admin_shops_path do
            =t('admin.navigation.shops.all_shops')
          =nav_link new_admin_shop_path do
            =t('admin.navigation.shops.new_shop')
      =nav_link admin_restaurants_path do
        %i.fa.fa-cutlery
        %span.nav-label
          =t('admin.navigation.restaurants.main')
        %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          =nav_link admin_restaurants_path do
            =t('admin.navigation.restaurants.all_restaurants')
          =nav_link new_admin_restaurant_path do
            =t('admin.navigation.restaurants.new_restaurant')
      =nav_link "" do
        %i.fa.fa-star
        %span.nav-label
          =t('admin.navigation.labels.main')
        %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          =nav_link admin_labels_path do
            =t('admin.navigation.labels.all_labels')
          =nav_link new_admin_label_path do
            =t('admin.navigation.labels.new_label')
          =nav_link admin_labels_path(sublevel: true) do
            =t('admin.navigation.sublabels.all_sublabels')
          =nav_link new_admin_label_path(sublevel: true) do
            =t('admin.navigation.sublabels.new_sublabel')

      =nav_link "" do
        %i.fa.fa-tags
        %span.nav-label
          =t('admin.navigation.categories.main')
        %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          =nav_link admin_categories_path do
            =t('admin.navigation.categories.all_categories')
          =nav_link new_admin_category_path do
            =t('admin.navigation.categories.new_category')
          =nav_link admin_categories_path(sublevel: true)  do
            =t('admin.navigation.categories.all_subcategories')
          =nav_link new_admin_category_path(sublevel: true) do
            =t('admin.navigation.categories.new_subcategory')

      =nav_link "" do
        %i.fa.fa-building-o
        %span.nav-label
          =t('admin.navigation.manufacturers.main')
        %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          =nav_link admin_manufacturers_path do
            =t('admin.navigation.manufacturers.all_manufacturers')
          =nav_link new_admin_manufacturer_path do
            =t('admin.navigation.manufacturers.new_manufacturer')
          =nav_link admin_manufacturers_path(sublevel: true)  do
            =t('admin.navigation.manufacturers.all_trademarks')
          =nav_link new_admin_manufacturer_path(sublevel: true) do
            =t('admin.navigation.manufacturers.new_trademark')

      =nav_link "" do
        %i.fa.fa-shopping-cart
        %span.nav-label
          =t('admin.navigation.products.main')
        %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          =nav_link admin_products_path do
            =t('admin.navigation.products.all_products')
          =nav_link new_admin_product_path do
            =t('admin.navigation.products.new_product')

      =nav_link "" do
        %i.fa.fa-coffee
        %span.nav-label
          =t('admin.navigation.recipes.main')
        %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          =nav_link admin_recipes_path do
            =t('admin.navigation.recipes.all')
          =nav_link new_admin_recipe_path do
            =t('admin.navigation.recipes.new')
          =nav_link admin_recipe_categories_path do
            =t('admin.navigation.recipe_categories.all')
          =nav_link admin_ingredients_path do
            =t('admin.navigation.ingredients.all')
          =nav_link new_admin_ingredient_path do
            =t('admin.navigation.ingredients.new')