%section.g-section.g-section_gallery
  .g-wrapper
    %h2.g-title.g-title_big
      Фотогалерея
    #gamma-container.g-photos
      -@pictures.each do |picture|
        %a.g-photos__item{"data-lightbox" => "menu_2", "data-title" => picture.try(:title), :href => picture.image.try(:url), :style => "background-image: url(#{asset_path picture.image.try(:small_thumb).try(:url)})"}
    
    =render partial: 'front/navigation/pager', locals: {path: "gallery_path", page: @page, class: "g-pagination_gallery"}