.no-text-decoration {
  text-decoration: none;
}

.upper-current {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  color: #fff;
}
.lower-current {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-current {
  background-color: transparent;
  color: #ffe47b;
}

.text-cursor:hover {
  cursor: text;
}

.not-allowed-cursor:hover {
  cursor: not-allowed;
}

#viewport {
    
    // width: 350px;
    // padding: 5px;
    position: relative;
}
#viewport img {
    position: absolute;
    top: 40%;
    // margin-top: -30px;  /* = image height div 2 */
}
#viewport span {
    margin-left: 68px;  /* = image width + 8 */
    display: block;    
}