-if @suppliers.present?
  %ul.g-products-wrapper
    -@suppliers.each do |supplier|
      %li.g-products-wrapper__item{ class: "#{'g-products-wrapper__border' if @subcategory_present}"}
        .g-products-wrapper__left
          =link_to supplier_path(supplier) do
            / -if supplier.logo.present?
            =image_tag_or_default supplier, 'logo', size: '94x94', class: "g-products-wrapper__logo"
            / -else 
            / =placeholdit_image_tag "94x94", text: "Kosher.ru", class: 'g-products-wrapper__logo'
        .g-products-wrapper__right
          %h2.g-products-wrapper__title=link_to supplier.title, supplier_path(supplier), style: 'text-decoration: none; color: inherit;'
          .g-products-wrapper__description
            =markdown(supplier.description)
          -if session[:filter_category].present? && session[:filter_category] != 'any' && !browser.device.mobile?
            .g-tm__supplier_products
              %h2.g-tm__products-title Продукция:
              %ul.g-tm__products-list.g-tm-products
                -supplier.products.filtered_by_category(session[:filter_category]).each do |product|
                  %li
                    %a.g-tm-products__item{:href => supplier_product_path(supplier, product)}
                      =product.title
                      =image_tag 'icons/disclosure_arrow.svg', style: 'width: 0.8rem; height: 0.8rem;'
          / =link_to 'Подробнее', category_supplier_path(params[:category_id], supplier), class: 'g-btn g-btn_gray'
          =link_to 'Подробнее', supplier_path(supplier), class: 'g-btn g-btn_gray'
-else
  %h2 По вашему запросу ничего не найдено
