-meta og: {title: "", image: "", description: "", keywords: ""}
-meta keywords: ""
-meta description: ""

%section.g-section
  .g-wrapper
    %h2.g-title.g-title_big
      Кошерные продукты
    #products-wrapper.g-products
      %a#filter-toggle.g-products__filter-btn{:href => "javascript:void(0)"} Фильтры
      =form_for :supplier, method: :get, html: { class: "g-products__sidebar g-products__filters-block g-form", id: "filters" } do |f|
        %a#filters-hide.g-btn.g-btn_gray.g-filters__hide.g-filters-mobile{:href => "javascript:void(0)"} Назад
        .g-input.g-input_select
          %label.g-input__label Категория
          .g-input__field.g-input__field_select-wrapper
            %select#category-select.g-input__field.g-input__field_select.js-input{:name => "category"}
        #subcategories-block.g-input.g-input_select
          %label.g-input__label Подкатегория
          .g-input__field.g-input__field_select-wrapper
            %select#subcategory-select.g-input__field.g-input__field_select.js-input{:name => "subcategory"}
        .g-input.g-input_select
          %label.g-input__label Производитель
          .g-input__field.g-input__field_select-wrapper
            %select#manufacturer-select.g-input__field.g-input__field_select.js-input{:name => "trademark"}
        .g-input.g-input_check-list
          %label.g-input__label Знак кошерности
          #labels-block.g-check-list

        %a#clear_filters.g-btn.g-btn_gray.g-filters__clear.g-filters-mobile{:href => "#"} Сбросить
        =f.submit "Отфильтровать", class: "g-btn g-btn_blue g-filters-mobile-hide g-form__submit g-filters__submit"
        =submit_tag "Применить", class: "g-btn g-filters__submit g-btn_blue g-filters-mobile g-form__submit g-filters__submit"
          
      .g-products__content
        .g-products__filters.g-filters
          -@filter_items.each do |item|
            %a.g-filters__item{:href => "javascript:void(0)"}=item
        #listing_products_partial
          =render partial: 'front/suppliers/listing_suppliers'