-meta og: {title: @supplier.seo_title, image: @supplier.seo_image(request), description: @supplier.seo_description, keywords: @supplier.seo_keywords}
-meta keywords: @supplier.seo_keywords
-meta description: @supplier.seo_description
%section.g-section
  .g-wrapper
    %h2.g-title.g-title_big
      =@supplier.title
    .g-tm
      .g-tm__left
        .g-tm__logo.js-sticky
          =image_tag_or_default @supplier, 'logo', class: 'g-tm__logo-img'
      .g-tm__right
        .g-tm__desc
          =markdown(@supplier.description)
        .g-tm__products
          -if @supplier.parent_id.present?
            %h2.g-tm__products-title Продукция:
            %ul.g-tm__products-list.g-tm-products
              -@supplier.products.sort_by_alphabet(@supplier.products.to_a).each do |product|
                %li
                  %a.g-tm-products__item{:href => supplier_product_path(@supplier, product)}
                    =product.title
                    =image_tag 'icons/disclosure_arrow.svg', style: 'width: 0.8rem; height: 0.8rem;'
          -else
            %h2.g-tm__products-title Торговые марки:
            %ul.g-tm__products-list.g-tm-products
              -@supplier.trademarks.each do |trademark|
                %li
                  %a.g-tm-products__item{:href => supplier_path(trademark)}
                    =trademark.title
                    =image_tag 'icons/disclosure_arrow.svg', style: 'width: 0.8rem; height: 0.8rem;'

          / %a.g-btn.g-btn_blue.g-btn_gray.g-tm-products__button{"data-lightbox" => "tm_products", "data-title" => "Галерея товаров от #{@supplier.title}", :href => @supplier.products.first.logo.try(:url)} Смотреть галерею
          / .g-tm-products__gallery
          /   -@supplier.products.each do |product|
          /     %a{"data-lightbox" => "tm_products", "data-title" => "Галерея товаров от #{@supplier.title}", :href => product.logo.try(:url)}
        .g-product-alert.g-product-alert_tm
          Наличие знака кашрута на упаковках обязательно!