%section.g-section
  .g-wrapper
    %h2.g-title.g-title_big
      Рецепты
    .g-recipes-category
      -@recipe_categories.each do |category|
        %a.g-recipes-category__item{:href => "#{recipe_category_recipes_path(category)}"}
          .g-recipes-category__img-wrapper
            =image_tag category.logo, class: 'g-recipes-category__img'
          %span.g-recipes-category__name=category.title