-if object.respond_to?(:url)
  .form-group
    %label.col-sm-2.control-label
      =t('admin.form.model.url')
    .col-sm-10
      =f.text_field :url, class: 'form-control'
      %span.help-block.m-b-none Site url (http://example.com)
  .hr-line-dashed
-if object.respond_to?(:logo)
  .form-group
    %label.col-sm-2.control-label
      =t('admin.form.model.logo')
    .col-sm-8
      .fileinput.fileinput-new.input-group{"data-provides" => "fileinput"}
        .form-control{"data-trigger" => "fileinput"}
          %i.glyphicon.glyphicon-file.fileinput-exists
          %span.fileinput-filename
        %span.input-group-addon.btn.btn-default.btn-file
          %span.fileinput-new
            =t('admin.form.actions.select_file')
          %span.fileinput-exists
            =t('admin.form.actions.change')
          =f.file_field :logo
          
        %a.input-group-addon.btn.btn-default.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"} Remove
    .col-sm-2
      -unless object.logo.file.nil?
        -if object.logo.file.exists?
          =image_tag object.logo.url(:mini_thumb)
  .hr-line-dashed
-if object.respond_to?(:phones)
  .form-group
    %label.col-sm-2.control-label
      =t('admin.form.model.phones')
    .col-sm-6
      =f.fields_for :phones do |phone_builder|
        =render partial: 'admin/shared/form/general_settings/phone_fields', locals: { f: phone_builder }
      %span.help-block.m-b-none
        =link_to_add_fields t('admin.form.actions.add_phone'), f, :phones, 'admin/shared/form/general_settings/phone_fields', class: 'btn btn-default'
  .hr-line-dashed
-if object.respond_to?(:language)
  .form-group
    %label.col-sm-2.control-label
      =t('admin.form.model.language')
    .col-sm-10
      =render partial: 'admin/shared/form/language_select', locals: { f: f, object: object }
  .hr-line-dashed
-if object.respond_to?(:opening_hours)
  .form-group
    %label.col-sm-2.control-label
      =t('admin.form.model.opening_hours')
    .col-sm-10
      =f.fields_for :opening_hours do |hours_builder|
        / =f.fields_for :opening_hours, OpenStruct.new(object.opening_hours) do |fields_builder|
        =render partial: 'admin/shared/form/general_settings/opening_hours_fields', locals: { f: hours_builder }
      %span.help-block.m-b-none
        =link_to_add_fields t('admin.form.actions.add_hours'), f, :opening_hours, 'admin/shared/form/general_settings/opening_hours_fields', class: 'btn btn-default'
-if object.respond_to?(:address)
  .form-group
    %label.col-sm-2.control-label
      =t('admin.form.model.address')
    .col-sm-10
      =f.text_area :address, class: 'form-control'
      %span.help-block.m-b-none 
        =t('admin.form.misc.address_description')
  .hr-line-dashed
