.row
  .col-lg-12
    =f.select :language, options_for_select(Rails.application.config.languages.collect{ |u| [u[1], u[0]] }, object.language.try(:map){|u| u[1]}), {}, { class: "select2_language form-control", multiple: true }
    / =f.select :language, options_for_select("VISA" => "MasterCard"), {}, {class: "select2_language form-control", multiple: true }
