%section.g-section
  .g-wrapper
    %h2.g-title.g-title_big
      \Кошерные продукты
    #products-wrapper.g-products
      %a#filter-toggle.g-products__filter-btn{:href => "javascript:void(0)"} Фильтры
      
      =form_for :products, method: :get , html: { class: "g-products__sidebar g-products__filters-block g-form", id: "filters"}, remote: true do |f|
        .g-input.g-input_select
          %label.g-input__label Категория
          .g-input__field.g-input__field_select-wrapper
            %select#category-select.g-input__field.g-input__field_select.js-input{:name => "upper_category"}
              %option{:value => "any"} Любая категория
              -Category.top_level.each_with_index do |category, index|
                %option{:value => index+1}=category.title
        =text_field_tag :hello
        .g-input.g-input_select
          %label.g-input__label Подкатегория
          .g-input__field.g-input__field_select-wrapper
            %select#select-subcategory.g-input__field.g-input__field_select.js-input{:name => "category_id"}
              -Category.top_level.each_with_index do |category, category_index|
                %optgroup{"data-id" => category_index+1, :label => category.title}
                  -category.sub_categories.each do |subcategory|
                    %option{:value => subcategory.id}=subcategory.title
        .g-input.g-input_select
          %label.g-input__label Производитель
          .g-input__field.g-input__field_select-wrapper
            %select#select-manufacturer.g-input__field.g-input__field_select.js-input{:name => "manufacturer_id"}
              -Manufacturer.all.each_with_index do |manufacturer, index|
                %option{:value => ""} Любой
                %option{:value => manufacturer.id}=manufacturer.title
              
        .g-input.g-input_check-list
          %label.g-input__label Знак кошерности
          .g-check-list
            .g-check-list__wrapper
              -Label.subs.each_with_index do |sublabel, index|
                %input.g-check-list__check{:name => "sign", :type => "checkbox", :value => "id#{index+1}", id: "#{index+1}"}
                %label.g-check-list__label{:for => "id#{index+1}"}=sublabel.title
        %a#filters-hide.g-btn.g-btn_gray.g-filters__hide.g-mobile{:href => "javascript:void(0)"} Скрыть
        =submit_tag "Отфильтровать", class: "g-btn g-btn_blue g-form__submit g-filters__submit"


      .g-products__content
        .g-products__filters.g-filters
          %a.g-filters__item{:href => "javascript:void(0)"} Алкогольные напитки
          %a.g-filters__item{:href => "javascript:void(0)"} Всемирный союз по вопросам кашрута
        #listing_products_partial
          =render partial: 'front/products/listing_products'
        .g-pagination
          %a.g-pagination__item.g-pagination__item_left{:href => "#"}
          %a.g-pagination__item.g-pagination__item_active{:href => "#"} 1
          %a.g-pagination__item{:href => "#"} 2
          %a.g-pagination__item{:href => "#"} 3
          %a.g-pagination__item.g-pagination__item_right{:href => "#"}