-meta og: {title: @product.seo_title, image: @product.seo_image(request), description: @product.seo_description, keywords: @product.seo_keywords}
-meta keywords: @product.seo_keywords
-meta description: @product.seo_description

%section.g-section
  .g-wrapper
    %h2.g-title.g-title_big
      =@product.title
    .g-product-desc
      .g-product-pic
        =image_tag_or_default @product, 'logo', class: 'g-product-pic__img'
      %ul.g-product-list
        -if @product.manufacturer.parent_id.present?
          %li.g-product-list__item
            %p.g-product-list__title Производитель
            %p.g-product-list__text#viewport
              %a
                %i
                  =image_tag_or_default @product.manufacturer.parent, 'logo', class: 'g-product-list__icon'
                %span
                  =link_to @product.manufacturer.parent.title, suppliers_path(category: @product.category.parent_id, manufacturer: @product.manufacturer.parent.id) , style: 'text-decoration: none; color: #00b2b2; vertical-align: -webkit-baseline-middle;'
          %li.g-product-list__item
            %p.g-product-list__title Торговая марка
            %p.g-product-list__text#viewport
              %a
                %i
                  =image_tag_or_default @product.manufacturer, 'logo', class: 'g-product-list__icon'
                %span
                  =link_to @product.manufacturer.title, supplier_path(@product.manufacturer), style: 'text-decoration: none; color: #00b2b2; vertical-align: -webkit-baseline-middle;'
        -else
          %li.g-product-list__item
            %p.g-product-list__title Производитель
            %p.g-product-list__text#viewport
              %a
                %i
                  =image_tag_or_default @product.manufacturer, 'logo', class: 'g-product-list__icon'
                %span
                  =link_to @product.manufacturer.title, '#', style: 'text-decoration: none; color: #00b2b2; vertical-align: -webkit-baseline-middle;'
        %li.g-product-list__item
          %p.g-product-list__title Знак кошерности
          %p.g-product-list__text#viewport
            %a
              %i
                =image_tag_or_default @product.label, 'logo', class: 'g-product-list__icon'
              %span
                =link_to @product.label.title, labels_path, style: 'text-decoration: none; color: #00b2b2; vertical-align: -webkit-baseline-middle;'
      .g-product-alert
        Наличие знака кашрута на упаковках обязательно!
